<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>My Weather</title>
</head>
<header>
    <div id="header-container">
        <nav class="nav-top">
            <ul class="logo">
                <li><a href="/"><button>Weather</button></a></li>
            </ul>
            <ul class="items">
                <li><a href="/dashboard"><button>My Dashboard</button></a></li>
            </ul>
        </nav>
    </div>
</header>    
</html>