<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include('partials/header.ejs')%>
    
    <div id="main-container">
        <h1 id="main-title">Welcome Back</h1>
        <div id="main-space">
            <h4>Wow</h4>
        </div>
    </div>

    <%- include('partials/footer.ejs')%>
</body>
</html>