/*      ALL      */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=PT+Serif&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #EEEEEE;
}



body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #222831;
}

/*!      Header      */

#header-container{
    font-size: 25px;
    background: #393e46;
 
}

.nav-top{
    display: flex;
    justify-content: space-between;
}

#header-container ul{
    list-style-type: none;
}

#header-container a{
    text-decoration: none;
    color: inherit;
    transition: all 0.3s ease 0s;
    margin: 25px;
}
#header-container a:hover{
    color: rgba(75, 192, 192, 0.2);
}

#header-container button{
    background: inherit;
    border: 2px solid transparent; /* Add transparent border */
    font-size: inherit;
    transition: all 0.3s ease 0s;
    padding: 10px;
    margin: 10px;
    font-family: PT_Serif;
    font-weight: 600; 
}

#header-container button:hover{
    color: rgba(75, 192, 192, 1);
    /*background: #515355;*/
    border-radius: 200px;
    border-color: rgba(75, 192, 192, 1);
}

.button-active{
    background: #ddd;
}

.header-right{
    display: flex;

}

/*!      Center      */

#main-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    margin: 0 auto;
    /* border: 5px solid black; */

}
#main-title{
    font-size: 60px;
    text-align: center;
    font-weight: 100;
}


#main-title-text{
    font-weight: 600;
}

#main-space{
    display: flex;
    flex: 1;
    /* border: 2px solid blue; */
}

#right-side{
    display: flex;
    flex-direction: column;
    width: 15%;
    background: rgba(70,93,145,0.3);
    border: 3px solid #344361;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
}

#right-side-hidden {
    width: 0;
    border: 0;
    transition: all 0.3s ease;
    overflow: hidden;
    min-width: 0;
}


#left-side{
    flex: 1;
}

#main-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-title-container h1{
    margin-right: 10px;
}


/*!         Search Bar        */

#city-search{
    background: inherit;
    width: 100%;
    height: 50px;
    font-size: 16px;
    padding: 0 30px;
    border: none;
}
#city-search::placeholder{
    text-align: center;
}
#city-search:focus::placeholder{
    color: transparent;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);

}

#city-search:focus{
    outline: none;

}

.search-container{
    display: flex;
    flex: 1;
    border: 3px solid #344361;
    border-radius: 20px 20px 0 0;
    align-items: center;
    justify-content: center;
}

.fa-search{
    padding: 0 0 0 20px;
    color: white;
    font-size: 14px;
}
#city-search:focus + .fa-search{
    color: transparent;
}

#autocomplete-list{
    position: absolute;
    z-index: 10;
    width: 100%;
    visibility: visible;
    overflow: visible;
}

datalist{
    display: block;
}

.autocomplete-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.autocomplete-item{
    color: black;
    z-index: 101;
}

/* .autocomplete-item{
    padding: 10px 30px;
    cursor: pointer;
    background-color: #344361;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-item:hover{
    background-color: rgba(233, 233, 233, 0.5);
} */


/*!      Left Side      */
#left-Side{
    display: flex;
    flex: column;
}
#left-side h3{
    text-align: center;
}

#fiveDay-container{
    display: flex;
    justify-content: space-around;
    min-height: 230px;
}

#daily-container{
    display: flex;
    flex-direction: column;
    
}

#fiveDay-title, #daily-title{
    display: flex;
    margin: 20px 0 5px 0;
    justify-content: space-between;
    align-items: center;
}

#fiveDay-title h3, #daily-title h3{
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
}

#fiveDay-title h2, #daily-title h2{
    margin-left: 25px; 
}
#fiveDay-title #fiveDay-title-text, #daily-title #daily-title-text{
    display: flex;
    justify-content: center;
    text-align: center;
}

#forecast-time{
    margin-right: 20px;
    color: white;
    background: rgba(70,93,145,0.3);
    border: 3px solid #344361;
    border-radius: 25px;
    width: 150;
    height: 30px;
    font-size: 14px;
    text-align: center;
}

.one-day{
    display: flex;
    flex: 1;
    flex-direction: column;
    background: rgba(70,93,145,0.3);
    border: 3px solid #344361;
    border-radius: 20px;
    padding: 0 20px 20px 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease 0s
}

.one-day:hover{
    background: rgba(70,93,145,0.1);
}

.one-day.clicked{
    background: black;
}

.one-day p{
    text-align: center;
}

.one-day-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-day-temp p{
    
    font-size: 30px;
    margin-top: 16px;
}

.degree-symbol{
    font-size: 20px;
}

#myChart {
    width: 100% !important;
    height: 420px  !important;
}

#daily-info-container{
    display: flex;
    flex-direction: column;
    background: rgba(70,93,145,0.3);
    border: 3px solid #344361;
    border-radius: 25px;
    margin: 10px;
}

#daily-info-buttons{
    display: flex;
    text-align: center;
    margin: 5px 15px 0 0;
    justify-content: right;
}

#daily-info-buttons button{
    margin-right: 15px;
    background: transparent;
    border: none;
    font-size: 17px;
}


#daily-info-buttons button:hover{
    cursor: pointer;
}

.button-clicked{
    text-decoration: underline;
}


#daily-input-options{
    display: flex;
}

.daily-select{

    border: 3px solid #344361;
    background: rgba(70,93,145,0.3);
    border-radius: 25px;
}

#daily-date{
    margin-right: 20px;
    width: 150px;
    height: 30px;
    font-size: 14px;
    text-align: center;
}


/*

#forecast-time{
    margin-right: 20px;
    color: white;
    background: rgba(70,93,145,0.3);
    border: 3px solid #344361;
    border-radius: 25px;
    width: 150;
    height: 30px;
    font-size: 14px;
    text-align: center;
}

*/
/*!         Right Side         */



.right-date{
    display: flex;
    font-size: 50px;
    height: 125px;
    border-bottom: 25px solid #344361;
    align-items: center;
    justify-content: center;
}


.right-date p.right-dow{
    font-size: 20px; /* This is your desired font size */
}

.right-icon{
    display: flex;
    flex-direction: column;
    margin: 10px 0 40px 0;
    justify-content: center;
    align-items: center;
}

.right-info{
    margin-left: 20px;
}

.info-container{
    display: flex;
}

.info-container i{
    margin-right: 10px;
}

.unit{
    font-size: 0.8em;
    margin-left: 2px;
}

/*!      Footer    */
footer{
    background-color: #393e46;
    margin: 15px 0 0 0;
}
.footer-container{
    width: 100%;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a {
    padding: 18px;
    box-sizing: content-box;
}
.social-icons a i{
    text-decoration: none;
    border-radius: 50%;
    color: inherir;
    transition: all 0.1s ease 0s;
}

.social-icons a i:hover{
    color: #58C483;
}

.footer-bottom{
    padding: 0 0 5px 0;
    text-align: center;
}

.designer{
    opacity: 0.6;
    letter-spacing: 1px;
}

.footer-container {
    margin-top: auto;
}



#weatherData{
    display: none;
}



/*!   Index  !*/

#index-main-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 70%;
    margin: 0 auto;
}

#index-main-space{
    display: flex;
    flex-direction: column;
}

.city-weather{
    display: flex;
    border: 3px solid #344361;
    background: rgba(70,93,145,0.3);
    border-radius: 25px;
    margin: 25px 0;
    height: 150px;
    transition: all 0.3s ease 0s;
}

.city-weather:hover{
    background: rgba(70,93,145,0.1);
}

.city-weather-form button:active{
    background: black;
}

.city-title-container{
    display: flex;
    flex-direction: column;
    border-right: 5px solid #344361;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    padding: 7px 15px 25px 15px;

}

.city-weather-form button {
    width: 100%;
    height: 100%;
}

.city-title{
    display: flex;
    margin: 0 0 20px 0;
}

.city-title h1{
    font-size: 35px;
}

.city-title p{
    font-size: 16px;
}

.city-info{
    display: flex;
    margin-top: 23px;
}

.city-info .rise{
    margin-right: 30px;
}

.city-info .set{
    margin-left: 30px;
}

.hour-container{
    display: flex;
    margin: 5px 15px;
    flex: 1;
    justify-content: space-between;
}

.hour-box{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center
}

.hour-box img{
    height: 90px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.hour-time{
    text-align: center;
    color: #4ECDC4;
}

.hour-info{
    display: flex;
    justify-content: center;
}

.hour-info-temp{
    margin-right: 15px;
}

.hour-ingo-humid{
    margin-left: 15px;
}

.hour-percent-symbol{
    font-size: 12px;
}

.city-weather-form .city-weather{
    border-radius: 25px;
}

.city-weather-form .city-weather:hover{
    cursor: pointer;
}